<footer id="rodape">
    <div class="content-rodape"> 
      <div class="container">
        <div class="rodape">
          <img src="../../assets/img/logo-footer.png" alt="">
          <p>Rua: Itaúna, 184, 64215-115 / Parnaíba - PI<br/>
            Seg - Sab (08:00 - 17:00)<br/>
            86 98161-5539
          </p>
          <div class="icons-rede-social">
            <a href="#">
              <img src="../../assets/img/icons/facebook.png" alt="Facebook">
            </a>
            <a href="#">
              <img src="../../assets/img/icons/telegram.png" alt="Telegram">
            </a>
            <a href="#">
              <img src="../../assets/img/icons/insta.png" alt="Instagram">
            </a>          
          </div>
        </div>
      </div>
    </div>
    <div class="creditos">
      <h3>Desenvolvido com ❤️ por <a href="#">Emanuel Azevedo</a></h3>
    </div>
  </footer>