<mat-toolbar>
    <div class="container" id="menu" style="padding: 20px 0;">
        <span><a routerLink="inicio"><img src="./assets/img/logo-top.png"></a></span>
        <nav>
            <span><a href="#">Inicio</a></span>
            <span><a href="#">Categoria</a></span>
            <span><a href="#">Avaliações</a></span>
            <span><a routerLink="login">Login</a></span>
        </nav>
        <form class="menu-pesquisar">
            <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit" style="border-radius: 0;">
                <mat-icon style="margin-top: 2px;">search</mat-icon>
            </button>
        </form>
    </div>
</mat-toolbar>