#menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img{
  width: 80px;  
}

a{
  text-decoration: none;
  color: #000;
}

nav{
  display: flex;
  gap: 30px;
}

#menu .menu-pesquisar{
  display: flex;
  align-content: center;
  justify-content: center;
}

#menu .menu-pesquisar input{
  border: 1px solid #2c2c2c;
  border-radius: 0;
  margin-right: 5px;
  width: 220px;
  height: 40px;
}

#menu .menu-pesquisar button{
  height: 40px;
}