#vantagens{
  padding: 25px 0;
  box-shadow: 0 4px 2px -2px #000;
}

#vantagens .descricao-vantagens,
#vantagens .descricao-vantagens div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#vantagens .descricao-vantagens div h3{
  margin: 0 0 0 10px;
  font-size: 18px;
  font-weight: 500;
}

#vantagens .descricao-vantagens div img{
  width: 60px;
}