#avaliacoes{
  padding: 100px 0;
  margin-top: 350px;
}

#avaliacoes h3{
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}

#avaliacoes .card-avaliacao{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#avaliacoes .card-avaliacao img{
  width: 120px;
}

#avaliacoes .card-avaliacao img:nth-child(4){
  width: 130px;
  margin-bottom: 10px;
}

#avaliacoes .card-avaliacao h4{
  margin: 20px 0;
  font-size: 20px;
}

#avaliacoes .card-avaliacao p{
  font-size: 16px;
  margin: -5px 0 15px 0;
}

.mat-mdc-card-outlined{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

#avaliacoes .card-avaliacao .avaliacao{
  width: 280px;
  margin-top: 50px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}