<section id="avaliacoes">
  <div class="container">
    <h3>O que os nossos <span style="color: #D32222; font-weight: bold; font-size: 35px; text-transform: uppercase;">clientes dizem...</span></h3>
    <div class="card-avaliacao">
      <div class="avaliacao">
        <mat-card appearance="outlined">
          <img src="../../assets/img/person-avaliation.png"/>
          <h4>Emanuel Azevedo</h4>
          <p>Lorem Ipsum is simply <br/>dummy text of the print</p>
          <img src="../../assets/img/icons/stars.png" alt="">
        </mat-card>  
      </div>
      <div class="avaliacao">
        <mat-card appearance="outlined">
          <img src="../../assets/img/person-avaliation.png"/>
          <h4>Emanuel Azevedo</h4>
          <p>Lorem Ipsum is simply <br/>dummy text of the print</p>
          <img src="../../assets/img/icons/stars.png" alt="">
        </mat-card>  
      </div>
      <div class="avaliacao">
        <mat-card appearance="outlined">
          <img src="../../assets/img/person-avaliation.png"/>
          <h4>Emanuel Azevedo</h4>
          <p>Lorem Ipsum is simply <br/>dummy text of the print</p>
          <img src="../../assets/img/icons/stars.png" alt="">
        </mat-card>  
      </div>
      <div class="avaliacao">
        <mat-card appearance="outlined">
          <img src="../../assets/img/person-avaliation.png"/>
          <h4>Emanuel Azevedo</h4>
          <p>Lorem Ipsum is simply <br/>dummy text of the print</p>
          <img src="../../assets/img/icons/stars.png" alt="">
        </mat-card>  
      </div>
      <div class="avaliacao">
        <mat-card appearance="outlined">
          <img src="../../assets/img/person-avaliation.png"/>
          <h4>Emanuel Azevedo</h4>
          <p>Lorem Ipsum is simply <br/>dummy text of the print</p>
          <img src="../../assets/img/icons/stars.png" alt="">
        </mat-card>  
      </div>
      <div class="avaliacao">
        <mat-card appearance="outlined">
          <img src="../../assets/img/person-avaliation.png"/>
          <h4>Emanuel Azevedo</h4>
          <p>Lorem Ipsum is simply <br/>dummy text of the print</p>
          <img src="../../assets/img/icons/stars.png" alt="">
        </mat-card>  
      </div>
      <div class="avaliacao">
        <mat-card appearance="outlined">
          <img src="../../assets/img/person-avaliation.png"/>
          <h4>Emanuel Azevedo</h4>
          <p>Lorem Ipsum is simply <br/>dummy text of the print</p>
          <img src="../../assets/img/icons/stars.png" alt="">
        </mat-card>  
      </div>
      <div class="avaliacao">
        <mat-card appearance="outlined">
          <img src="../../assets/img/person-avaliation.png"/>
          <h4>Emanuel Azevedo</h4>
          <p>Lorem Ipsum is simply <br/>dummy text of the print</p>
          <img src="../../assets/img/icons/stars.png" alt="">
        </mat-card>  
      </div>
    </div>
  </div>
</section>
