<section id="categoria">
  <div class="container">
    <div class="text-categoria">
      <h2>O que você procura?</h2>
      <p>Temos diversos tipos de produtos, desde você que está sonhando em 
        montar seu pc gamer ou procurando diversão em jogos atuais e antigos. 
        Se não tiver achado o que procura, basta fazer uma busca ou entrar em 
        contato com um de nossos atendentes.</p>
      <div class="botao-contato">
        <a href="#">Entrar em contato</a>
      </div>
    </div>
    <div class="card-categoria">
      <mat-card appearance="outlined" class="card">
        <img src="../../assets/img/icons/game.png"/>
        <mat-card-content>Jogos</mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="card">
        <img src="../../assets/img/icons/hardware.png"/>
        <mat-card-content>Hardware</mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="card">
        <img src="../../assets/img/icons/book.png"/>
        <mat-card-content>Tutoriais</mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="card">
        <img src="../../assets/img/icons/engine.png"/>
        <mat-card-content>Peças</mat-card-content>
      </mat-card>
    </div>
  </div>
</section>